body{
    height: 100vh;
display: flex;
justify-content: center;
align-items: center;
font-family: 'Shizuru', cursive;
background: linear-gradient(red,blue);


}
input{
    border: 3px solid rgb(7, 7, 7);
    background-color: rgb(141, 194, 136);
    color: rgb(15, 15, 14);
    padding:20px 10px 5px 2px;
    border-radius: 10px;
}
button {
    border: 4px solid rgb(221, 79, 79);
    border-radius: 10px;
}
#formid{
    display: flex;
    flex-direction: column;

}
#para{
    padding-top: 5px;
}